.footerBar {
  position: relative;
  height: 170px;
  overflow: hidden;
  border-top: 1px solid rgb(211, 211, 211);
  background-color: rgb(242, 242, 242);
}

.footerContainer {
  margin: 0px auto;
  width: 980px;
}

.copy {
  float: left;
  padding-top: 15px;
  width: 520px;
  line-height: 24px;
}
