.pageWrap {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.contentLand {
  display: flex;
  flex-flow: row nowrap;
  height: calc(100% - 100px);
}

.toolsWrap {
  position: relative;
  flex: 0 0 auto;
  width: 240px;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.toolFlex {
  display: flex;
  width: 100%;
  height: 100%;
  user-select: none;
  flex-flow: column nowrap;
  background-color: rgba(255, 255, 255, 1);
}

.toolTit {
  padding: 16px;
  line-height: 1;
  border-bottom: 1px solid rgba(235, 235, 235, 1);

  .title {
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
  }

  .explain {
    font-size: 12px;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    margin-top: 12px;
  }
}

.toolContainer {
  position: relative;
  flex: 1 1 0%;
  overflow: hidden auto;
  padding-bottom: 40px;
}

.toolBrick {
  padding: 0px 16px;
}

.brickTitle {
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;

  .titleContent {
    margin-left: 4px;
    font-size: 14px;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
  }
}

.subbrickItem {
  display: inline-block;
  width: 95px;
  height: 104px;
  box-sizing: border-box;
  cursor: move;
  background-color: rgba(255, 255, 255, 1);
  transition: background-color 0.15s ease-in-out 0s;

  .pic {
    display: block;
    width: 48px;
    margin: 16px auto 12px auto;
    user-select: none;
  }

  .hoverPic {
    display: none;
    user-select: none;
  }

  .brickName {
    padding: 0px 5px;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 600;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);

    .pic {
      display: none;
    }

    .hoverPic {
      display: block;
      user-select: none;
    }
  }

}

.canvasWrap {
  flex: 1 1 0%;
  background-color: rgba(0, 0, 0, 0.06);
}

.canvasFlex {
  padding: 16px;
  width: 100%;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
}

.canvasContent {
  position: relative;
  min-width: 1200px;
  min-height: 1000px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: content-box;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
}

.valuesWrap {
  position: relative;
  flex: 0 0 auto;
  width: 320px;

  &::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.valuesFlex {
  width: 100%;
  height: 100%;
  user-select: none;
  display: flex;
  flex-flow: column nowrap;
  background-color: rgba(255, 255, 255, 1);
}

.footerLand {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 50px;
  background-color: rgba(255, 255, 255, 1);
  box-sizing: border-box;
  box-shadow: rgba(151, 151, 151, 0.18) 0px 0px 9px 0px;
}