.container {
  position: relative;
  margin: 0px auto;
  display: flex;
  width: 980px;
}

.bannerSwiper {
  width: 730px;
  height: 285px;
}

.download {
  display: block;
  width: 250px;
  height: 285px;
  background-image: url('../../../assets/images/music_icons/download.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.downloadBtn {
  display: block;
  margin: 186px 0px 0px 19px;
  width: 215px;
  height: 56px;
  background-image: url('../../../assets/images/music_icons/download.png');
  background-repeat: no-repeat;
  background-position: 0 9999px;

  &:hover {
    background-position: 0 -290px;
    text-decoration: none;
  }
}

.imgBox {
  height: 285px;
  overflow: hidden;

  .pic {
    display: block;
    width: 100%;
  }
}

.bannerBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  width: 36px;
  height: 62px;
  transform: translateY(-50%);
  transition: background-color 0.2s ease;
  background-color: rgba(51, 51, 51, 0.65);
}

.btnPrev {
  left: -60px;
}

.btnNext {
  right: -60px;
}