.pageContainer {
  margin: 0px auto;
  width: 1200px;
  min-height: calc(100vh - 220px);
}

.toolBar {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translate3d(0, -50%, 0);
  z-index: 199;

  .toolItem {
    position: relative;
    display: block;
    margin-top: -1px;
    width: 80px;
    height: 90px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    text-align: center;
  }
}
