.navBar {
  background-color: rgb(194, 12, 12);
  box-sizing: border-box;
  border-bottom: 1px solid rgb(164, 0, 17);
}

.navWrap {
  height: 34px;
}

.navContainer {
  display: flex;
  padding-left: 186px;
}

.navItem {
  display: inline-block;
  height: 34px;
  vertical-align: middle;

  em {
    display: inline-block;
    padding: 0px 12px;
    margin: 8px 18px 0px 18px;
    height: 20px;
    line-height: 19px;
    border-radius: 20px;
    font-size: 12px;
    font-style: normal;
    text-align: left;
    color: rgb(255, 255, 255);
  }

  &:hover {
    em {
      background-color: rgb(155, 9, 9);
    }
  }
}