.toolBar {
  position: fixed;
  top: 50%;
  right: 0px;
  transform: translate3d(0, -50%, 0);
  z-index: 199;

  .toolItem {
    position: relative;
    display: block;
    margin-top: -1px;
    width: 80px;
    height: 80px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    color: #757575;
    transition: color 0.3s;

    &:hover {
      color: #ff6700;
    }
  }

  .iconWrap {
    padding-top: 16px;
    margin: 0px auto 8px auto;
    width: 32px;
    height: 32px;
    text-align: center;
  }
  
  .icon {
    font-size: 30px;
    
  }
}